/node_modules
/public/hot
/public/storage
/public/uploads
/public/vendor
/public/css
/public/fonts
/public/js
/storage/*.key
/vendor
/.idea
/.vagrant
after.sh
aliases
Homestead.json
Homestead.yaml
Vagrantfile
npm-debug.log
yarn-error.log
.env
.steps
*.bat
/estrutura_fpb
